{% extends 'public/layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center">
                    <h2><span class="theme_color text-align-center"></span>Formulaire d'inscription</h2>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(registrationForm) }}
    <div class="row">
    
        <div class="col-6 text_align_left">
            <a class="btn btn-light" href="{{ path('app_login') }}"> < se connecter</a>
        </div>
        <div class="col-6 text_align_right">
            <button class="btn btn-dark " type="submit" class="btn">Register</button>
        </div>
    </div>    
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password *'
        }) }}
        

        
    {{ form_end(registrationForm) }}
        
    
{% endblock %}
