{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block layout %}

    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center">
                    <h2><span class="theme_color"></span>Mon Espace Client</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1> Bienvenue, {{ user.nom }}.</h1>
        <h2>Quelque liens utiles :</h2>
        <a href="{{ path('user_souscriptions') }}">Voir les offres les plus souscrites</a></br>
        <a href="{{ path('user_show', {'id': user.id}) }}">Voir mes informations</a></br>
        <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes informations</a></br>

    </div>
    <div class="section first">
        <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                
                {{ message }}
            </div>
        {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Reste des éléments graphiques -->




{% endblock %}