{% extends '/admin/layout.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center">
                    <h2><span class="theme_color text-align-center"></span>Offres publiées</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    {% for offer in offers %}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="full news_blog">
                <img class="img-responsive" src="{{ asset('images/b1.png') }}" alt="#" />
                <div class="overlay"><a class="main_bt transparent" href="{{ path('offer_edit', {'id': offer.id}) }}">Modifier</a></div>
                <div class="blog_details">
                    <h3>{{ offer.titre }}</h3>
                    <p>{{offer.intro}}</p>
                    <p>{{offer.prix}}€</p>
                    <p class=" text-danger">{{offer.souscription|length}} utilisateurs ont souscrit à cette offre</p>
                </div>
            </div>
        </div>
        {% else %}
        <h3> Vous n'avez pas encore publié d'offre !</h3>
   {% endfor %}
    </div>
    <a class="btn btn-dark " href="{{ path('offer_new') }}">Créer une nouvelle offre</a>
{% endblock %}
