{% extends '/public/layout.html.twig' %}

{% block title %}Offer{% endblock %}

{% block body %}
    <h1>Offer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offer.titre }}</td>
            </tr>
            <tr>
                <th>Intro</th>
                <td>{{ offer.intro }}</td>
            </tr>
            <tr>
                <th>Offre</th>
                <td>{{ offer.offre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ offer.prix }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td><a href="{{ path('offer_subscribe', {'id': offer.id}) }}">Souscrire</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offer_index') }}">back to list</a>
{% endblock %}
