{% extends 'admin/layout.html.twig' %}

{% block title %}Homepage index{% endblock %}

{% block body %}

    <h1>Homepage index</h1>

    <table class="table">

    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>TitleAbout</th>
        <th>TextAbout</th>
        <th>actions</th>
    </tr>
    {% if homepages %}

        {% for homepage in homepages %}
            <tr>
                <td>{{ homepage.id }}</td>
                <td>{{ homepage.title }}</td>
                <td>{{ homepage.body }}</td>
                <td>{{ homepage.titleAbout }}</td>
                <td>{{ homepage.textAbout }}</td>
                <td>
                    <a href="{{ path('homepage_edit', {'id': homepage.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No homepage was found !</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="{{ path('homepage_new') }}">Create new</a>
            </td>
        </tr> 
    {% endif %}
    </table>
{% endblock %}
