{% extends 'public/layout.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_left">
                    <h2><span class="theme_color"></span>{{ article.title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <p class="light-gray gray">Article ajouté le {{ article.created ? article.created|date('d-m-Y') : '' }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="full">
                <p class=" text-black text_align_center">{{ article.content }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="full">
                <img class="img-responsive" src="{{ asset('images/articles/' ~ article.brochureFilename) }}" alt="#" />
            </div>
        </div>
    </div>

    <a class="btn btn-light" href="{{ path('article_index') }}"> < revenir à la liste</a>

{% endblock %}
