{% extends '/admin/layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center">
                    <h2><span class="theme_color text-align-center"></span>Utilisateurs inscrits</h2>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_show_a', {'id': user.id}) }}">Voir le profil</a></br>
                    <a href="{{ path('user_edit_a', {'id': user.id}) }}">Éditer le profil</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateurs n'est inscrit !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
