{% extends '/espace-agent/layout.html.twig' %}

{% block title %}Souscription{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center">
                    <h2><span class="theme_color"></span>Souscriptions numéro {{souscription.id}} :</h2>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-light"href="{{ path('souscription_index') }}"> < liste des souscriptions</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ souscription.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ souscription.etat }}</td>
            </tr>
        </tbody>
    </table>



    
    <div class="row">
        <div class="col-6 text_align_left">
            <a class="btn btn-dark" href="{{ path('souscription_edit', {'id': souscription.id}) }}">Éditer cette souscription</a>
        </div>
        
        <div class="col-6 text_align_right">
            <p class=" alert-danger">Attention : Supprimer une souscription est une action irrevérsible.</p>
            {{ include('souscription/_delete_form.html.twig') }}
        </div>
    </div>
    
    
{% endblock %}
